@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--backgroundColorPrimary);
}

.hidden {
  display: none;
}

body h1,
body h2,
body h3 {
  font-family: "Merriweather", serif;
}

body {
  background-color: var(--backgroundColorPrimary);
  color: var(--textColorPrimary);
  line-height: 1.5;
  font-family: "Roboto", sans-serif;

  main {
    padding: 0 1rem;
  }

  header {
    padding: 0 1rem;
    line-height: 3rem;
    text-indent: 1rem;
    background-color: var(--backgroundColorHeader);
    color: var(--textColorHeader);
    select {
      border-radius: 0.5rem;
      margin: 0 1rem;
      background-color: var(--backgroundColorPrimary);
      color: var(--textColorPrimary);
    }
  }

  nav {
    padding: 0;
    line-height: 2rem;
    background-color: var(--backgroundColorSecondary);
    a {
      color: var(--textColorSecondary);
      text-decoration: none;
    }
    ul {
      list-style-type: none;
    }
    li {
      display: block;
      text-align: center;
      border-bottom: thin solid var(--textColorHeader);
      &:last-child {
        border-bottom: none;
      }
    }
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--backgroundColorHeader);
    color: var(--textColorSecondary);
    a {
      color: var(--accentColorPrimary);
      text-decoration: none;
    }
    ul {
      list-style-type: none;
    }
    #social-media {
      margin: 1rem;
      img {
        border-radius: 50%;
      }
    }
    #kea-publishing {
      display: flex;
      justify-content: center;
      align-items: center;
      > p {
        margin-left: 0.5rem;
      }
    }
    #policy {
      margin-bottom: 1rem;
    }
    #credits {
      margin-bottom: 1rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  #new-release {
    color: var(--textColorPrimary);
    text-align: center;
    margin: 0 -1rem;
    padding: 1rem;
    border-bottom: thin solid var(--accentColorPrimary);

    #new-release-header {
      background-color: var(--backgroundColorHeader);
      color: var(--textColorSecondary);
      border-radius: 0.8rem;
      margin-bottom: 1rem;
      display: inline-block;
      padding: 1rem 3rem;
      font-family: "Merriweather", serif;
      font-weight: 700;
    }

    img {
      border-radius: 0.8rem;
      padding-top: 1rem;
    }
  }

  #bio {
    margin: 1rem 0 1rem 0;
    p {
      margin-top: 1rem;
    }
    blockquote {
      margin-top: 1rem;
      padding: 0.5rem;
      font-style: italic;
      padding-left: 1rem;
      border-radius: 0.8rem;
      color: var(--textColorSecondary);
      background-color: var(--backgroundColorSecondary);
      p {
        margin-top: 0;
        text-align: center;
      }
      p:last-of-type {
        margin-top: 1rem;
        text-align: right;
        font-style: normal;
      }
    }
  }

  #contact {
    > article {
      margin: 1rem 0;
      > .center-img {
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
          border-radius: 50%;
          height: 10rem;
          width: 10rem;
        }
      }
      a {
        text-decoration: none;
      }
    }
    > article:first-of-type {
      border-bottom: thin solid var(--accentColorPrimary);
      > p:last-of-type {
        margin-bottom: 1rem;
      }
    }

    form {
      fieldset {
        padding: 0.5rem;
        border: thin solid var(--accentColorPrimary);
        border-radius: 0.8rem;
        margin-top: 0.5rem;
        legend {
          font-size: 0.9rem;
          padding: 0 0.25rem;
        }
      }
      label {
        display: inline-block;
        width: 100%;
      }
      input {
        width: 100%;
        margin-bottom: 0.5rem;
      }
      textarea {
        width: 100%;
        height: 5rem;
      }
      button[type="submit"] {
        display: block;
        width: auto;
        border: thin solid var(--accentColorPrimary);
        border-radius: 0.8rem;
        margin: 0.5rem 0 0 1rem;
        padding: 0.5rem 1rem;
      }
      button[type="submit"]:hover {
        cursor: pointer;
        background-color: var(--accentColorSecondary);
      }
    }
  }

  .section-header {
    background-color: var(--backgroundColorHeader);
    color: var(--textColorHeader);
    margin: 0 -1rem;
    padding: 1rem;
  }

  section#books {
    margin-bottom: 1rem;
    article {
      margin-top: 1rem;
      text-align: left;
      border-bottom: thin solid var(--accentColorPrimary);
    }
    article:last-of-type {
      border-bottom: none;
    }
    .center-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
    }
    p {
      margin: 1rem 0 1rem 0;
    }
  }

  section#tour {
    margin-bottom: 1rem;
    img {
      margin-top: 1rem;
    }
    article {
      border-bottom: thin solid var(--accentColorPrimary);
      padding-bottom: 1rem;
      p {
        &:nth-child(2) {
          color: var(--accentColorSecondary);
          font-weight: bold;
        }
        &:nth-child(3) {
          font-weight: bold;
        }
      }
    }
    article:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
